.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    max-width: 400px;
    margin: 0 auto;
  }
  
  .cell {
    border: 2px solid black;
    padding: 20px;
    text-align: center;
    font-size: 18px;
    cursor: pointer;
  }
  
  .cell:hover {
    background-color: #f2f2f2;
  }
 
  p { 
    text-align: center;

  }